{{ attach_library('css_aspect_ratio/css_aspect_ratio') }}
{{ attach_library('css_aspect_ratio/css_aspect_ratio.default_theme') }}
<div {{ attributes.addClass('css-aspect-ratio--theme') }}>
  {{ element }}
</div>
